.container {
  font-size: 1rem;
  line-height: 1.5rem;
  /* @apply prose lg:prose-s; */
}

.container p,
.container a {
  @apply text-base leading-7 max-w-6xl mx-auto mb-1;
  font-variant-caps: normal;
}

.container a {
  font-weight: 500;
  text-decoration: underline dotted 0.05em;
}

.container a:hover {
  background-color: var(--hover-2);
}

.container h1 {
  @apply text-5xl pt-1 pb-2 font-semibold tracking-wide cursor-pointer mb-2;
}

.container h2 {
  @apply pt-1 pb-4 text-2xl leading-7 font-bold tracking-wide;
}

.container h3 {
  @apply pt-1 pb-2 text-2xl font-bold tracking-wide cursor-pointer mb-2;
}
